{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>HealthyMe Dashboard</title>
    
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<script>
    function toggleDarkMode() {
        document.body.classList.toggle("dark-mode");

        // Save preference
        if (document.body.classList.contains("dark-mode")) {
            localStorage.setItem("theme", "dark");
        } else {
            localStorage.setItem("theme", "light");
        }
    }

    // Load saved theme
    window.onload = function() {
        if (localStorage.getItem("theme") === "dark") {
            document.body.classList.add("dark-mode");
        }
    }
</script>

<body>

<div class="dashboard-wrapper">

    <!-- Sidebar -->
    <div class="sidebar">
        <h3>HealthyMe 🌿</h3>

        <a href="#">Dashboard</a>
        <a href="#">Profile</a>
        <a href="#">Reports</a>
        <a href="{% url 'logout' %}">Logout</a>
        <button onclick="toggleDarkMode()" class="btn" style="margin-left:15px;">
    🌙
</button>

    </div>

    <!-- Main Content -->
    <div class="dashboard-content">

        <div class="topbar">
            <h2>Welcome, {{ user.username }}</h2>
            <span>{{ user.email }}</span>
        </div>

        {% block content %}
        {% endblock %}

    </div>

</div>

</body>
</html>
