{% extends "admin/login.html" %}

{% block content %}

{{ block.super }}

<div style="
    text-align:center;
    margin-top:30px;
    width:100%;
    box-sizing:border-box;
">
    <a href="/" style="
        display:inline-block;

        width:92%;
        max-width:240px;

        padding:12px 20px;

        background:#27ae60;
        color:white;

        border-radius:8px;

        text-decoration:none;
        font-weight:500;

        box-sizing:border-box;

        transition:0.3s;
    "
    onmouseover="this.style.background='#1abc9c'"
    onmouseout="this.style.background='#27ae60'">

        ⬅ Back to Dashboard

    </a>
</div>

{% endblock %}